<section id="about">
  <br>
  <hr>
  <div class="col-lg-12 mx-auto" align="justify">
    <h2 class="text-blue b">Tentang Kadosilang</h2>
    <div class="mt-5 mb-4 pb-3">
      <p>
        Kadosilang adalah sebuah gerakan yang berupaya mengajak
        masyarakat untuk saling memberikan barang yang sudah tidak
        terpakai lagi kepada orang lain yang membutuhkan. Kami
        percaya bahwa kasih sayang dan perdamaian akan tercipta ketika
        manusia saling berbagi satu sama lain.
      </p>
      <br>
    </div>
  </div>
  <div class="col-lg-6 mx-auto" align="center">
    <h3 class="text-blue b">VISI</h3>
    <br>
    <div class="mt-5 mb-4 pb-3">
      <p>Menumbuhkan budaya saling memberi demi terciptanya 
      <br>masyarakat yang damai serta lingkungan yang lestari.</p>
      <br>
    </div>
  </div>
  <div class="col-lg-6 mx-auto" align="center">
    <h3 class="text-blue b">MISI</h3>
    <br>
    <div class="mt-5 mb-4 pb-3">
      <p>Menyediakan komunitas dan platform online 
      <br>untuk saling memberi satu sama lain.</p>
    </div>
  </div>
</section>