<section id="service">
  <br>
  <hr>
  <div class="col-lg-12 mx-auto" align="justify">
    <h2 class="text-blue b">Layanan Kadosilang</h2>
    <div class="mt-5 mb-4 pb-3">
    </div>
  </div>
  <div class="col-lg-6 mx-auto" align="center">
    <h3 class="text-blue b">GIVE</h3>
    <br>
    <div class="center mt-5 mb-4 pb-3">
      <p>Kamu bisa memberikan barangmu yang tidak terpakai 
      <br>kepada orang yang membutuhkan.</p>
    </div>
  </div>
  <div class="col-lg-6 mx-auto" align="center">
    <h3 class="text-blue b">RECEIVE</h3>
    <br>
    <div class="center mt-5 mb-4 pb-3">
      <p>Kamu bisa mendapatkan barang orang lain
      <br>yang sudah tidak terpakai.</p>
      <br><br><br><br><br><br>
    </div>
  </div>
</section>