<h1>Give Page</h1>
<div class="col-lg-1 mx-auto">
</div>
<div class="col-lg-4 mx-auto">
  <h2>Umumkan barang milikmu!</h2>
  <ol>
    <li>Siapkan foto barang yang akan kamu diberikan.</li>
    <li>Isi form pada
      <a href="https://bit.ly/GiveKX" target="_blank">tautan ini.</a>
    </li>
    <li>Tunggu seseorang mengambil barang kamu. <br>*Kami akan mengontak kamu apabila ada orang yang ingin mengambilnya.*</li>
    <li>Terima kasih sudah menggunakan layanan kami!</li>
  </ol>
</div>
<div class="col-lg-2 mx-auto">
</div>
<div class="col-lg-4 mx-auto">
  <h2>Lihat yang orang butuhkan!</h2>
  <ol>
    <li>Lihat barang yang orang butuhkan
      <a href="https://bit.ly/DemandedKX" target="_blank">di sini.</a>
    </li>
    <li>Download foto barang yang kamu pilih untuk kamu berikan.</li>
    <li>Hubungi kami via aplikasi WhatsApp dengan klik tombol  
      <%= link_to image_tag("WA.png", alt: "WA", ), href="https://api.whatsapp.com/send?phone=6282137935611&text=Halo%20Kadosilang!%20Saya%20bersedia%20memberikan%20barang%20di%20bawah%20ini%20untuk%20orang%20yang%20membutuhkan!%0A%0AMohon%20konfirmasinya!%20Terima%20kasih!%0A%0A[Upload%20foto%20di%20bawah]&source=&data=", target: :_blank %>
      atau hubungi kami di no +62-821-3793-5611.
    </li>
    <li>Terima kasih sudah menggunakan layanan kami!</li>
  </ol>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

