<section id="home">
  <div class="center bg">
    <br><br><br><br><br>
    <h1>Selamat datang di</h1>
    <br>
    <%= image_tag("logo.png", alt: "Meja", width: 250)%>
    <br>
    <p class="tagline">Free gift for everyone</p><br>
    <table align="center"> 
      <tr>
        <td><%= link_to image_tag("startGiving.png"), give_path %></td>
        <td class="option"></td>
        <td><%= link_to image_tag("startReceiving.png"), receive_path %></td>
      </tr>
    </table>
    <br><br><br><br><br><br><br><br><br><br><br>
  </div>
  <div>
    <%= render 'pages/about' %>
    <%= render 'pages/service' %>
  </div>
  <br>
</section>
