<h1>Receive Page</h1>
<div class="col-lg-1 mx-auto">
</div>
<div class="col-lg-4 mx-auto">
  <h2>Umumkan barang yang kamu cari!</h2>
  <ol>
    <li>Siapkan foto barang yang ingin kamu cari.</li>
    <li>Isi form pada
      <a href="https://bit.ly/ReceiveKX" target="_blank">tautan ini.</a>
    </li>
    <li>Tunggu seseorang memberikan barang tersebut. 
    <br>*Kami akan mengontak kamu apabila ada orang yang ingin memberikannya.*</li>
    <li>Terima kasih sudah menggunakan layanan kami!</li>
  </ol>
</div>
<div class="col-lg-2 mx-auto">
</div>
<div class="col-lg-4 mx-auto">
  <h2>Lihat yang telah tersedia!</h2>
  <ol>
    <li>Lihat barang yang orang berikan
      <a href="https://bit.ly/AvailableKX" target="_blank">disini.</a>
    </li>
    <li>Download foto barang yang kamu pilih untuk kamu ambil.</li>
    <li>Hubungi kami via aplikasi WhatsApp dengan klik tombol  
      <%= link_to image_tag("WA.png", alt: "WA", ), href="https://api.whatsapp.com/send?phone=6282137935611&text=Halo%20Kadosilang!%20Saya%20bersedia%20memberikan%20barang%20di%20bawah%20ini%20untuk%20orang%20yang%20membutuhkan!%0A%0AMohon%20konfirmasinya!%20Terima%20kasih!%0A%0A[Upload%20foto%20di%20bawah]&source=&data=", target: :_blank %>
      atau hubungi kami di no +62-821-3793-5611.
    </li>
    <li>Terima kasih sudah menggunakan layanan kami!</li>
  </ol>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
