<footer id="contact" class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="text-left text-sm-center table-center">
        <h4><b>Informasi Kontak</b></h4>
        <table width="25%">
          <tr>
            <td>Email</td>
            <td>:</td>
            <td>kontak.kadosilang@gmail.com</td>
          </tr>
          <tr>
            <td>WhatsApp</td>
            <td>:</td>
            <td>+62-821-3793-5611</td>
          </tr>
          <tr>
            <td>Instagram</td>
            <td>:</td>
            <td><a href="http://www.instagram.com/kadosilang/" target="_blank">kadosilang</a></td>
          </tr>
        </table>
      </div>
      <p>© 2019 KADOSILANG</p>
    </div>
  </div>
</footer>
