<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <%= link_to "KADOSILANG", root_path, id: "logo" %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Beranda", root_path %></li>
        <li><%= link_to "Tentang", root_path(:anchor => "about") %></li>
        <li><%= link_to "Layanan", root_path(:anchor => "service") %></li>
        <li><a href="#contact">Kontak</a></li>
      </ul>
    </nav>
  </div>
</header>
